.Name {
  text-transform: capitalize;
}
.WebsiteLink {
  text-decoration: none;
}
.NavButton {
  color: white !important;
}

.WorcloudTrending {
  color: red !important;
  font-style: italic;
  font-family: "Roboto";
  margin-left: 20px;
}

.SelectedFilters {
  color: green !important;
}

.WordcloudButton {
  margin: 7px;
}
